/*
 * Light blue: #B8EEF1
 * Gray:       #8C8C8C
 * Black:      #000000
 * White:      #FFFFFF
 */

/* Body Structure */
body
{

    margin: 0 auto;

}

/* Header Content */
#header
{

    width: 100%;
    height: 10vh;
    background-color: #B8EEF1;

}

#header img
{

    height: 10vh;

}

/* Main Content */
#main
{

    width: 100%;
    height: 90vh;
    background-color: #8C8C8C;
    overflow: auto;
}

#main h1
{

    text-align: center;
    color: #B8EEF1;

}

#main p
{

    padding-right: 15%;
    padding-left: 15%;
    color: #FFFFFF;

}

#upload
{
    color: #FFFFFF;
    text-align: center;
}

#upload input
{
    margin-right: auto;
    display: inline-block;
}

#ui
{
    margin-left: 5%;
    margin-top: 10%;
    display: inline-block;
}

#download
{
    color: #FFFFFF;
    text-align: center;
}

#download input
{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#hardware
{
    color: #FFFFFF;
    text-align: center;
}

#hardware input
{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}