/*
 *  Blue: B8EEF1
 */

body
{

    margin: 0 auto;

}

#header
{

    width: 100%;
    height: 10vh;
    background-color: #B8EEF1;

}

#header img
{

    height: 10vh;

}

#main
{

    width: 100%;
    height: 90vh;
    background-image: url("images/Wallpaper.png");
    background-color: #FFFFFF;
    overflow: auto;
    text-align: left;

}

#main
{
    text-align: center;
}
